<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!-- User Variables-->
		<add key="TechPin" value="54231"/>
		



		<!-- Fixed Variables Shared-->
		<add key="browser" value ="Chrome"/>
		<add key="headless" value ="true"/>
		<add key="Username" value ="Testuserone"/>
		<add key="Password" value ="Password1"/>
		<add key="City" value="Cape Town"/>
		<add key="Country" value="South Africa"/>
		<add key="BloodPressure" value="120/100"/>
		<add key="HemoFlowID" value="HF004826"/>
		<add key="HemoFlowWeight" value="700"/>
		<add key="HeartRate" value="78"/>
		<add key="HFCalirationWeightSerialNumber" value="700"/>
		<add key="HFCalibratedWeight" value="500"/>
		
		
		
		<!-- Environments-->
		<add key="QA" value="https://spulseqa.wpbts.org.za/login/authenticate"/>
		<add key="UAT" value="https://pulse-uat.wpbts.org.za/login/authenticate"/>
		<add key="Training" value="http://spulsetrain.wpbts.org.za/login/authenticate"/>



		<!-- Selected Environment-->
		<add key="selectedEnv" value="Training"/>

		
		
		<!-- Dynamic Varibales-->
		<add key="PulseClinicUI" value=""/>
		<add key="DonorGender" value=""/>
		<add key="IronConfig" value=""/>
		<add key="HamperCode" value=""/>
		<add key="HamperCreationTime" value=""/>
		<add key="SerialNumber" value="" />
		<add key="PulseDonationsUI" value="" />
		<add key="IDNumber" value="" />
		<add key="FirstName" value="" />
		<add key="MiddleName" value=""/>
		<add key="Surname" value="" />
		<add key="Email" value=""/>
		<add key="PhoneNumber" value="" />
		<add key="LandlineNumber" value="" />
		<add key="StreetAddress" value="" />
		<add key="Suburb" value=""/>
		<add key="PostalCode" value="" />
		<add key="Hemoglobin" value="" />
		<add key="OutlierHemoglobin" value="" />
		<add key="Category" value="" />
		<add key="Pack" value="" />
		<add key="VehicleRegistration" value="" />
		<add key="TrailerRegistration" value="" />
		<add key="HCSerialNumber1" value="" />
		<add key="HCSerialNumber2" value="" />
		<add key="CuvettesLot" value="" />
		<add key="DBPMSerialNumber" value="" />
		<add key="BPLot" value="" />
		<add key="DPLot" value="" />
		<add key="STLot" value="" />
		<add key="HFSerialNumber" value="" />
		<add key="SPBatchNumber" value="" />
		<add key="FirstInital" value="" />
		<add key="SecondInital" value="" />
		<add key="DOB" value="" />
		<add key="BatchNumber" value="" />
		<add key="ExpiryDate" value="" />
		<add key="CurrentTime" value="" />
		<add key="LotNumber1" value="" />
		<add key="LotNumber2" value="" />
		<add key="LotNumber3" value="" />
		
		
		
		
	</appSettings>
</configuration>