<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!-- User Variables-->
		<add key="TechPin" value="25667"/>




		<!-- Fixed Variables Shared-->
		<add key="browser" value ="Edge"/>
		<add key="Username" value ="Testuserone"/>
		<add key="Password" value ="Password1"/>
		<add key="City" value="Cape Town"/>
		<add key="Country" value="South Africa"/>
		<add key="BloodPressure" value="120/100"/>
		<add key="HemoFlowID" value="HF004826"/>
		<add key="HemoFlowWeight" value="700"/>
		<add key="HeartRate" value="78"/>
		





		<!-- Dynamic Varibales-->
		<add key="HamperCode" value=""/>
		<add key="SerialNumber" value="" />
		<add key="PulseDonationsUI" value="" />
		<add key="IDNumber" value="" />
		<add key="FirstName" value="" />
		<add key="MiddleName" value=""/>
		<add key="Surname" value="" />
		<add key="Email" value=""/>
		<add key="PhoneNumber" value="" />
		<add key="StreetAddress" value="" />
		<add key="Suburb" value=""/>
		<add key="PostalCode" value="" />
		<add key="Hemoglobin" value="" />
		<add key="Category" value="" />
		<add key="Pack" value="" />
		
		
		
	</appSettings>
</configuration>